<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<head>
    <title>게시글 수정</title>
</head>
<body>
<div layout:fragment="content" class="container mt-[100px]" style="max-width: 2400px;">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">게시글 수정</div>
                <div class="card-body">
                    <form th:action="@{|/article/edit|}" method="post">
                        <div class="mb-3">
                            <label for="subject" class="form-label">제목</label>
                            <input type="text" id="subject" name="subject" class="form-control" th:value="${question.subject}">
                        </div>
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea id="content" name="content" class="form-control" rows="5" th:text="${question.content}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">수정 완료</button>
                        <a th:href="@{|/article/detail/${question.id}|}" class="btn btn-secondary">취소</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
